<!-- <router-outlet></router-outlet> -->
<arm-display *ngIf="armOrientation" [quaternion]="armOrientation">
</arm-display>

<div class="info-container">
	<div class="gesture-icon-container">
		<img
			*ngIf="currentGesture != 'rest'"
			src="/assets/gestures/{{currentGesture}}.svg"
			alt=""
		/>
	</div>
	<h1>Current Gesture: {{ currentGesture }}</h1>
</div>
